doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap")
        script(src="js/main.js")
    body.antialiased.bg-body.text-body.font-body
        div


            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0 bg-gray-300" )
                div(class="inline-block py-2 px-6 leading-loose text-white text-2xl font-semibold rounded-l-xl rounded-xl transition duration-200 ml-8" )

                    button(type="submit" class="inline-block py-2 px-6 leading-loose text-white font-semibold rounded-l-xl rounded-xl transition duration-200 ml-8" ) Menu
                div(class="inline-block px-6 leading-loose text-white text-2xl font-semibold rounded-l-xl rounded-t-xl transition duration-200" )

                    a(href="#" class="inline-block py-2 px-6 leading-loose text-white text-1xl font-semibold rounded-l-xl rounded-t-xl transition duration-200") Menu

                    a(href="#" class="inline-block py-2 px-6 leading-loose text-white text-1xl font-semibold rounded-l-xl rounded-t-xl transition duration-200") Log in

                    a(href="#" class="inline-block py-2 px-6 leading-loose text-white text-1xl font-semibold rounded-l-xl rounded-t-xl transition duration-200") Sign Up

            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0" )
                div(class="rounded w-24 h-24" )

                    img(src="images/IbadahMain01.png" alt="" class="rounded w-16 h-16 self-center")
                div(class="mt-3" )

                    form(action="#" method="post"  )

                        div(class="mt-2")
                            label(class="block text-gray-800 text-sm font-semibold mb-2 hidden", for="")
                            input(class="appearance-none w-full p-4 text-xs font-semibold leading-none bg-gray-200 rounded outline-none mt-3", type="text", name="search", placeholder="Search..", id="")
                            button
                                img(src="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Asearch", alt="")

                div(class="inline-block h-16 w-16 leading-loose bg-gray-400 hover:bg-gray-700 text-white text-center font-semibold rounded-full transition duration-200" )

                    div.w-2.h-2( )

                    a(href="#" class="inline-block h-16 w-16 leading-loose bg-gray-400 hover:bg-gray-700 text-white text-lg text-center font-semibold rounded-full transition duration-200") 

                    a(href="#" class="inline-block h-16 w-16 leading-loose bg-gray-400 hover:bg-gray-700 text-white text-center font-semibold rounded-full transition duration-200") 

                    a(href="#" class="inline-block h-16 w-16 leading-loose bg-gray-400 hover:bg-gray-700 text-white text-center font-semibold rounded-full transition duration-200") 

            section(class="" )
                div(class="relative py-20 radius-for-skewed bg-gray-400" style="background-image: url('images/Screenshot-2021-03-23-at-13-38-18.png'); background-size: cover; background-repeat: no-repeat; background-position: center;")
                    div(class="absolute inset-0 bg-gray-600 opacity-80 radius-for-skewed")
                    div(class="container mx-auto px-4 relative h-48")
                        div(class="max-w-md text-center mx-auto")
                            span(class="text-green-600 font-bold") 
                            h2(class="text-4xl lg:text-5xl text-white font-bold font-heading") 
                            div(class="mb-6 max-w-sm mx-auto")
                                p(class="text-gray-400 leading-loose") 
                            a(href="#" class="inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose transition duration-200 hidden") See More

            div.flex.px-6.py-2.justify-items-center( )

                h2(class="text-4xl px-4 py-2 leading-tight font-bold font-heading") iBazzar Live

                a(href="#" class="mt-3 py-3 px-4 bg-green-400 hover:bg-green-700 text-white font-semibold rounded-full transition duration-200") See More

            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0 px-6" )
                div(class="w-full md:w-2/3 px-4 mb-4 md:mb-0" )

                    img(src="images/video-placeholder.jpg" alt="" class="px-4 py-4 rounded w-full")

                    div(class="container mx-auto"  )
                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0" )

                    img(src="images/video-placeholder.jpg" alt="" class="rounded my-2 mt-4")

                    img(src="images/video-placeholder.jpg" alt="" class="rounded mb-4 h-200")

            div.flex.px-6.py-2.justify-items-center( )

                h2(class="text-4xl px-4 py-2 mb-2 leading-tight font-bold font-heading") Voucher

                a(href="#" class="mt-3 py-4 px-4 bg-green-400 hover:bg-green-700 text-white font-semibold rounded-full transition duration-200") See more

            div.px-6( )

                div.flex.justify-between.px-6( )

                    img(src="images/voucher-png-wallpaper-voucher-svg-png-icon-free-download-419341-png-preview.jpg" alt="" class="rounded w-auto h-72")

                    img(src="images/voucher-png-wallpaper-voucher-svg-png-icon-free-download-419341-png-preview.jpg" alt="" class="rounded w-auto h-72")

                    img(src="images/voucher-png-wallpaper-voucher-svg-png-icon-free-download-419341-png-preview.jpg" alt="" class="rounded w-auto h-72")

            div(class="container mx-6 my-4 flex"  )

                h2(class="text-4xl px-4 mb-2 leading-tight font-bold font-heading") Terlaris

                a(href="#" class="py-4 px-4 bg-green-400 hover:bg-green-700 text-white font-semibold rounded-full transition duration-200" ) Primary button

            div(class="container mx-auto md:flex md:justify-around")
                div(class="bg-red-500 w-48 h-48 rounded")
                    div(class="bg-gray-200 w-full object-cover")
                div(class="bg-blue-500 w-48 h-48 rounded")
                div(class="bg-green-500 w-48 h-48 rounded")


            section(class="" )
                div(class="skew skew-top mr-for-radius")
                    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none"><polygon fill="currentColor" points="0 0 10 10 0 10" /></svg>
                div(class="skew skew-top ml-for-radius")
                    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none"><polygon fill="currentColor" points="0 10 10 0 10 10" /></svg>

                div(class="py-20 bg-gray-50 radius-for-skewed")
                    div(class="container mx-auto px-4")
                        div(class="flex flex-wrap mb-6 lg:mb-20")
                            div(class="mb-6 w-full lg:w-1/5")
                                a(href="#", class="text-3xl font-bold leading-none") 
                                    img(src="images/IbadahMain01.png", alt="", width="148")
                            div(class="mb-5 w-full lg:w-1/5")
                                p(class="text-gray-400 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo.
                            div(class="w-full lg:w-3/5 flex flex-wrap -mx-3 justify-end")
                                div(class="mb-6 w-full md:w-1/2 lg:w-1/4 lg:mr-6 px-3")
                                    h5(class="mb-4 font-bold") Office
                                    p(class="text-gray-400 leading-loose") 359 Hidden Valley Road, NY
                                div(class="mb-6 w-full md:w-1/2 lg:w-1/4 px-3")
                                    h5(class="mb-4 font-bold") Contacts
                                    p(class="text-gray-400") hello@example.com
                        div(class="w-full flex justify-between")
                            p(class="text-sm text-gray-400") &copy; 2021. All rights reserved.
                            div(class="flex space-x-2 lg:space-x-4")
                                a(href="#")
                                    img(src="atis-assets/social/facebook.svg", alt="")
                                a(href="#")
                                    img(src="atis-assets/social/twitter.svg", alt="")
                                a(href="#")
                                    img(src="atis-assets/social/instagram.svg", alt="")

                div(class="skew skew-bottom mr-for-radius")
                    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none"><polygon fill="currentColor" points="0 0 10 0 0 10" /></svg>
                div(class="skew skew-bottom ml-for-radius")
                    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none"><polygon fill="currentColor" points="0 0 10 0 10 10" /></svg>